*{
    /*   border: solid 1px black; */
    }
    body{
      margin: 0;
      padding: 0;
      background: url(/Users/frankshi/Desktop/web/Lab3/006kYbF6gy1gc821s9ukvg30f007l1kz.gif) no-repeat;
      background-size: 150%;
    }
    .box1{
      width: 450px;
      background: rgba(0, 0, 0, 0.4);
      padding: 40px;
      text-align: center;
      margin: auto;
      margin-top: 5%;
      color: white;
      font-family: 'Century Gothic',sans-serif;
    }
    
    /* 複寫區 */
    ul{
      padding: 0;
      list-style: none;
    }
    h2{
      margin: 0;
      margin-bottom: 25px;
      font-weight: 400;
    }
    h2::after{
      content: "";
      display: inline-block;
      width: 20px;
      height: 8px;
      background-color: #FF7168;
      margin-left: 10px;
    }
    h4{
      margin: 0;
      margin-top: 40px;
      opacity: 0.8;
      font-weight: 400;
    }
    a{
      color: white;
      text-decoration: none
    }
    hr{
      border: none;
      border-bottom: solid 4px #FF7168;
      width: 40%;
      margin-top: 0;
    }
    
    
    /* .left{
      flex: 5
    }
    .right{
      flex: 2
    } */
    .left,.right{
      padding: 5px
    }
    
    .right{
      padding-left: 25px;
      padding-top: 25px;
    }
    
    .listExperience>li{
      display: flex;
      /* justify-content:center; */
      /* padding-left: 10px; */
      margin-bottom: 10px;
      flex-direction: row;
      justify-content:flex-start;
      margin-left: 30px;
    }
   

    .listExperience>li:nth-child(1) ul{
      border-color: #ff1100
    }
    .listExperience>li:nth-child(2) ul{
      border-color: #ff4800
    }
    .listExperience>li:nth-child(3) ul{
      border-color: #ff5900
    }
    .listExperience>li:nth-child(4) ul{
      border-color: #ffaa00
    }
    .listExperience li ul{
      justify-content:flex-start;
      padding-left: 10px;
      margin-left: 150px;
      position: absolute;
      border-left: solid
      
    }
    
    
    list skill
    .listSkill{
      width: 50%;
      height: 40%;
    }
    /* 調中間文字匡 */
    .listSkill li{
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    
    .btn{
      border: solid 3px #FF7168;
      padding: 5px 20px;
      margin-right: 10px;
    }
    .fill{
      background-color: #FF7168;
    }